/*Variablen*/

//Farben
$colors:(
        back: #0B3C48,
        menu: #041519,
        menuov: rgba(4,21,25,0.9),
        weiss: #FFF,
        orang: #FF8533,
        orangov: rgba(255,133,51,0.6)
);