/*Variablen*/
/*Colors*/
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: lato, "sans-serif";
  background-color: #0B3C48;
  color: #FFF;
}

h1 {
  font-family: lato-black-italic, "sans-serif";
  font-size: 40px;
  margin: 0 0 2px 0;
  text-align: left;
}

h2 {
  font-family: lato-bold-italic, "sans-serif";
  font-size: 25px;
}

h3 {
  font-family: lato-black-italic, "sans-serif";
  font-size: 25px;
}

h4 {
  font-family: lato-bold, "sans-serif";
  font-size: 18px;
}

h5 {
  font-family: lato-italic, "sans-serif";
  font-size: 15px;
  color: #FF8533;
}

p {
  font-family: lato, "sans-serif";
  font-size: 18px;
}

a {
  font-family: lato-light, "sans-serif";
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
}

a p {
  font-family: lato, "sans-serif";
  font-size: 13px;
  color: #FFF;
  text-decoration: none;
}

img {
  max-width: 100vw;
  height: auto;
}

@font-face {
  src: url(../../fonts/Lato-Regular.ttf);
  font-family: lato;
}

@font-face {
  src: url(../../fonts/Lato-Italic.ttf);
  font-family: lato-italic;
}

@font-face {
  src: url(../../fonts/Lato-Black.ttf);
  font-family: lato-black;
}

@font-face {
  src: url(../../fonts/Lato-BlackItalic.ttf);
  font-family: lato-black-italic;
}

@font-face {
  src: url(../../fonts/Lato-Bold.ttf);
  font-family: lato-bold;
}

@font-face {
  src: url(../../fonts/Lato-BoldItalic.ttf);
  font-family: lato-bold-italic;
}

@font-face {
  src: url(../../fonts/Lato-Light.ttf);
  font-family: lato-light;
}

@font-face {
  src: url(../../fonts/Lato-LightItalic.ttf);
  font-family: lato-light-italic;
}

@font-face {
  src: url(../../fonts/Lato-Hairline.ttf);
  font-family: lato-hair;
}

.challenges__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 10vh 39vh 39vh 39vh 39vh 39vh 39vh 39vh 39vh 39vh 12vh;
      grid-template-rows: 10vh 39vh 39vh 39vh 39vh 39vh 39vh 39vh 39vh 39vh 12vh;
      grid-template-areas: "title" "ch_endurance" "ch_strength" "ch_mass" "ch_endurance_1" "ch_strength_1" "ch_mass_1" "ch_endurance_2" "ch_strength_2" "ch_mass_2" "ch_mmPlz";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  position: relative;
}

.challenges__title {
  z-index: 30;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  -ms-grid-column-align: left;
      justify-self: left;
  margin-left: 5vw;
  margin-top: 2vh;
}

.challenges__endurance {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: ch_endurance;
  -ms-grid-column-align: center;
      justify-self: center;
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "ch_name";
}

.challenges__endurance:hover .challenges__overlay {
  opacity: 1;
}

.challenges__endurance:hover .challenges__names {
  border: 2px solid #FFF;
  font-size: 24px;
}

.challenges__endurance:hover .challenges__img .challenges__img_innen {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.challenges__strength {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: ch_strength;
  -ms-grid-column-align: center;
      justify-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "ch_name";
}

.challenges__strength:hover .challenges__overlay {
  opacity: 1;
}

.challenges__strength:hover .challenges__names {
  border: 2px solid #FFF;
  font-size: 24px;
}

.challenges__strength:hover .challenges__img .challenges__img_innen {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.challenges__mass {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: ch_mass;
  -ms-grid-column-align: center;
      justify-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "ch_name";
}

.challenges__mass:hover .challenges__overlay {
  opacity: 1;
}

.challenges__mass:hover .challenges__names {
  border: 2px solid #FFF;
  font-size: 24px;
}

.challenges__mass:hover .challenges__img .challenges__img_innen {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.challenges__endurance_1 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: ch_endurance_1;
  -ms-grid-column-align: center;
      justify-self: center;
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "ch_name";
}

.challenges__endurance_1:hover .challenges__overlay {
  opacity: 1;
}

.challenges__endurance_1:hover .challenges__names {
  border: 2px solid #FFF;
  font-size: 24px;
}

.challenges__endurance_1:hover .challenges__img .challenges__img_innen {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.challenges__strength_1 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: ch_strength_1;
  -ms-grid-column-align: center;
      justify-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "ch_name";
}

.challenges__strength_1:hover .challenges__overlay {
  opacity: 1;
}

.challenges__strength_1:hover .challenges__names {
  border: 2px solid #FFF;
  font-size: 24px;
}

.challenges__strength_1:hover .challenges__img .challenges__img_innen {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.challenges__mass_1 {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: ch_mass_1;
  -ms-grid-column-align: center;
      justify-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "ch_name";
}

.challenges__mass_1:hover .challenges__overlay {
  opacity: 1;
}

.challenges__mass_1:hover .challenges__names {
  border: 2px solid #FFF;
  font-size: 24px;
}

.challenges__mass_1:hover .challenges__img .challenges__img_innen {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.challenges__endurance_2 {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  grid-area: ch_endurance_2;
  -ms-grid-column-align: center;
      justify-self: center;
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "ch_name";
}

.challenges__endurance_2:hover .challenges__overlay {
  opacity: 1;
}

.challenges__endurance_2:hover .challenges__names {
  border: 2px solid #FFF;
  font-size: 24px;
}

.challenges__endurance_2:hover .challenges__img .challenges__img_innen {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.challenges__strength_2 {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  grid-area: ch_strength_2;
  -ms-grid-column-align: center;
      justify-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "ch_name";
}

.challenges__strength_2:hover .challenges__overlay {
  opacity: 1;
}

.challenges__strength_2:hover .challenges__names {
  border: 2px solid #FFF;
  font-size: 24px;
}

.challenges__strength_2:hover .challenges__img .challenges__img_innen {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.challenges__mass_2 {
  -ms-grid-row: 10;
  -ms-grid-column: 1;
  grid-area: ch_mass_2;
  -ms-grid-column-align: center;
      justify-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "ch_name";
}

.challenges__mass_2:hover .challenges__overlay {
  opacity: 1;
}

.challenges__mass_2:hover .challenges__names {
  border: 2px solid #FFF;
  font-size: 24px;
}

.challenges__mass_2:hover .challenges__img .challenges__img_innen {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.challenges__names {
  z-index: 10;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: ch_name;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: 2px solid #FF8533;
  padding: 8px 18px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}

.challenges__img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: ch_name;
  -ms-grid-column-align: center;
      justify-self: center;
  overflow: hidden;
  max-width: 500px;
  max-height: 350px;
}

.challenges__img_innen {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.challenges__overlay {
  z-index: 0;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: ch_name;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background-color: rgba(255, 133, 51, 0.6);
  cursor: pointer;
}

/*
.addToHomescreenButton{
    z-index: 20;
    position: fixed;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    bottom: 1%;

    &__img{
        display: none;
        width: 35px;
        height: 35px;
    }
}*/
.mobileMenuPlatzhalter {
  grid-area: mmPlz;
}

.mobileMenu {
  z-index: 100;
  position: fixed;
  display: -ms-grid;
  display: grid;
  bottom: 0;
  width: 100vw;
  height: 12vh;
  background-color: #041519;
  border-top: 1px solid #FF8533;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "menuIconLinks menuIconMitte menuIconRechts";
}

.mobileMenu .menuLinks {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: menuIconLinks;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 5vh 5vh;
      grid-template-rows: 5vh 5vh;
      grid-template-areas: "menuIconLinksImg" "menuIconLinksName";
  justify-items: center;
  -ms-flex-line-pack: start;
      align-content: start;
}

.mobileMenu .menuLinks__icon {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: menuIconLinksImg;
  margin-top: 10px;
  width: 40px;
  height: 5vh;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.mobileMenu .menuLinks__name {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: menuIconLinksName;
  margin-top: 10px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.mobileMenu .menuLinks:hover .menuLinks__icon .color {
  fill: #FFF;
}

.mobileMenu .menuLinks:hover .menuLinks__icon {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.mobileMenu .menuLinks:hover .menuLinks__name {
  margin-top: 11px;
}

.mobileMenu .menuMitte {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: menuIconMitte;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 5vh 5vh;
      grid-template-rows: 5vh 5vh;
      grid-template-areas: "menuIconMitteImg" "menuIconMitteName";
  justify-items: center;
}

.mobileMenu .menuMitte__icon {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: menuIconMitteImg;
  margin-top: 10px;
  width: 40px;
  height: 5vh;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.mobileMenu .menuMitte__name {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: menuIconMitteName;
  margin-top: 10px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.mobileMenu .menuMitte:hover .menuMitte__icon .color {
  fill: #FFF;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.mobileMenu .menuMitte:hover .menuMitte__icon {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.mobileMenu .menuMitte:hover .menuMitte__name {
  margin-top: 11px;
}

.mobileMenu .menuRechts {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: menuIconRechts;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 5vh 5vh;
      grid-template-rows: 5vh 5vh;
      grid-template-areas: "menuIconRechtsImg" "menuIconRechtsName";
  justify-items: center;
}

.mobileMenu .menuRechts__icon {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: menuIconRechtsImg;
  margin-top: 10px;
  width: 40px;
  height: 5vh;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.mobileMenu .menuRechts__name {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: menuIconRechtsName;
  margin-top: 10px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.mobileMenu .menuRechts:hover .menuRechts__icon .color {
  fill: #FFF;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.mobileMenu .menuRechts:hover .menuRechts__icon {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.mobileMenu .menuRechts:hover .menuRechts__name {
  margin-top: 11px;
}

.desktopMenu {
  display: none;
}

@media screen and (min-width: 1024px) {
  /*  .mobileMenu{
        border-top: none;
    }
    .menuLinks{
        &__icon{
            height: 6vh;
        }
        &__name{
            margin-top: 13px;
        }
    }
    .menuLinks:hover .menuLinks__name{
       margin-top: 10px;
    }

    .menuMitte{
        &__icon{
            height: 6vh;
        }
        &__name{
            margin-top: 13px;
        }
    }
    .menuMitte:hover .menuMitte__name{
       margin-top: 10px;
    }

    .menuRechts{
        &__icon{
            height: 6vh;
        }
        &__name{
            margin-top: 13px;
        }
    }
    .menuRechts:hover .menuRechts__name{
       margin-top: 10px;
    }

    .menu{
        width: 40px;
        height: 40px;
    }

    */
  /*Desktop Menu*/
  .mobileMenu {
    display: none;
  }
  .desktopMenu {
    display: block;
  }
  .desktopMenu .headBar__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    width: 100vw;
    height: 6vh;
    background-color: #0B3C48;
    overflow: hidden;
  }
  .desktopMenu .headBar__container .headBar {
    z-index: 40;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: fixed;
    width: 25vw;
    height: 6vh;
  }
  .desktopMenu .headBar__container .headBar .openNav {
    width: 2vw;
    height: 2vh;
    margin-right: 30px;
    margin-top: 10px;
    cursor: pointer;
  }
  .desktopMenu .headBar__container .headBar .openNav .openNavBtn .navBtn_dsk_color {
    -webkit-transition: 0.125s ease-in-out;
    transition: 0.125s ease-in-out;
  }
  .desktopMenu .headBar__container .headBar .openNav:hover .openNavBtn .navBtn_dsk_color {
    stroke: #FF8533;
  }
  .desktopMenu .sideNav_container {
    display: none;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: absolute;
    width: 100vw;
    height: 127vh;
  }
  .desktopMenu .sideNav_container .sideNav {
    z-index: 30;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 6vh 1fr 1fr 1fr;
        grid-template-rows: 6vh 1fr 1fr 1fr;
        grid-template-areas: "btn_pH" "feed_nav" "training_nav" "profil_nav";
    justify-items: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    width: 100vw;
    height: 127vh;
    background-color: rgba(4, 21, 25, 0.9);
  }
  .desktopMenu .sideNav_container .sideNav__btn_pH {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: btn_pH;
  }
  .desktopMenu .sideNav_container .sideNav__feed {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: feed_nav;
  }
  .desktopMenu .sideNav_container .sideNav__training {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: training_nav;
  }
  .desktopMenu .sideNav_container .sideNav__profil {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: profil_nav;
  }
  .desktopMenu .sideNav_container .sN_h:hover {
    color: #FF8533;
  }
  .challenges__grid {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 10vh 39vh 39vh 39vh;
        grid-template-rows: 10vh 39vh 39vh 39vh;
        grid-template-areas: "title . . " "ch_endurance ch_strength ch_mass" " ch_endurance_1 ch_mass_1 ch_strength_1" "ch_mass_2 ch_strength_2 ch_endurance_2";
  }
  .challenges__grid .challenges__title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: title;
    font-size: 3em;
  }
  .challenges__grid .challenges__endurance_1 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: ch_endurance_1;
  }
  .challenges__grid .challenges__endurance_2 {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
    grid-area: ch_endurance_2;
  }
  .challenges__grid .challenges__strength_1 {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: ch_strength_1;
  }
  .challenges__grid .challenges__strength_2 {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: ch_strength_2;
  }
  .challenges__grid .challenges__mass_1 {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: ch_mass_1;
  }
  .challenges__grid .challenges__mass_2 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: ch_mass_2;
  }
}
/*# sourceMappingURL=main.css.map */