.challenges__grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(10vh,auto);
  align-items: center; 
  width: 100vw;
  position: relative;
  grid-row-gap: 0px;
}
           
.challenges__title{
    z-index: 30;
    justify-self: left;
    margin-left: 5vw;
    margin-top: 2vh;
}

.challenges__challenge{
    justify-self: center;
    margin-top: -4px;
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "ch_name"
    ;

//Challenges Inhalt
   .challenges__link{ 
            z-index: 10;
            grid-area: ch_name;
            justify-self: center;
            align-self: center; 
           
        .challenges__names{
             border: 2px solid color(orang);
            padding: 8px 18px;
            transition: 0.3s ease;
            cursor: pointer;
        }        
    }
   
    .challenges__img{
        grid-area: ch_name;
        justify-self: center;
        overflow: hidden;
        max-width: 500px;
        max-height: 350px;
    }

    .challenges__img_innen{
        transition: 0.5s ease;
    }

    //Challenges Mouse-Overlay
    .challenges__overlay{
        z-index: 0;
        grid-area: ch_name;
        opacity: 0;
        transition: 0.5s ease;
        background-color: color(orangov);
        cursor: pointer;
    }

}
.challenges__challenge:hover .challenges__overlay{
    opacity: 1;
}
.challenges__challenge:hover .challenges__names{
    border: 2px solid color(weiss);
    font-size: 24px;
}
.challenges__challenge:hover .challenges__img .challenges__img_innen{
  transform: scale(1.05);
}



/*
.addToHomescreenButton{
    z-index: 20;
    position: fixed;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    bottom: 1%;

    &__img{
        display: none;
        width: 35px;
        height: 35px;
    }
}*/

