body, html{margin: 0; padding: 0; overflow-x: hidden; font-family: lato, "sans-serif";}

//Headlines
h1{font-family: lato, "sans-serif"; color: color(); font-size: 120px; margin:0 0 2px 0; text-align: left;}
h2{font-family: lato-black, "sans-serif"; color: color(); font-size: 100px;}
h3{font-family: lato-bold, "sans-serif"; color: color(); font-size: 100px;}

//Texts
p{font-family: lato-light, "sans-serif"; color: color(); font-size: 22px;}
