@font-face{
    src: url(../../fonts/Lato-Regular.ttf);
    font-family: lato;
}
@font-face{
    src: url(../../fonts/Lato-Black.ttf);
    font-family: lato-black;
}
@font-face{
    src: url(../../fonts/Lato-Bold.ttf);
    font-family: lato-bold;
}
@font-face{
    src: url(../../fonts/Lato-Light.ttf);
    font-family: lato-light;
}
@font-face{
    src: url(../../fonts/Lato-LightItalic.ttf);
    font-family: lato-light-italic;
}