


@media screen and (min-width: 1024px){
    
//Menu
//Variante mobile Menu auf desktop
  /*  .mobileMenu{
        border-top: none;
    }
    .menuLinks{
        &__icon{
            height: 6vh;
        }
        &__name{
            margin-top: 13px;
        }
    }
    .menuLinks:hover .menuLinks__name{
       margin-top: 10px;
    }

    .menuMitte{
        &__icon{
            height: 6vh;
        }
        &__name{
            margin-top: 13px;
        }
    }
    .menuMitte:hover .menuMitte__name{
       margin-top: 10px;
    }

    .menuRechts{
        &__icon{
            height: 6vh;
        }
        &__name{
            margin-top: 13px;
        }
    }
    .menuRechts:hover .menuRechts__name{
       margin-top: 10px;
    }

    .menu{
        width: 40px;
        height: 40px;
    }

    */


    /*Desktop Menu*/
    .mobileMenu{
        display: none;
    }

    .desktopMenu{
        display: block;
    
        .headBar__container{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            position: absolute;
            width: 100vw;
            height: 6vh;
            background-color: color(back);
            overflow: hidden;

            .headBar{
            z-index: 40;
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            position: fixed;
            width: 25vw;
            height: 6vh;

                .openNav{
                    width: 2vw;
                    height: 2vh;
                    margin-right: 30px;
                    margin-top: 10px; 
                    cursor: pointer;

                    .openNavBtn{
                        .navBtn_dsk_color{
                        transition: 0.125s ease-in-out;
                        }
                    }
                }
                
                .openNav:hover .openNavBtn .navBtn_dsk_color{
                            stroke: color(orang);
                }
            
            }
        }
        

        .sideNav_container{
            display: none;
            justify-content: flex-end;
            align-items: flex-start;
            position: absolute;
            width: 100vw;
            height: 127vh;

            .sideNav{ 
                z-index: 30;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 6vh 1fr 1fr 1fr;
                grid-template-areas:
                    "btn_pH"
                    "feed_nav"
                    "training_nav"
                    "profil_nav"
                ;
                justify-items: center;
                align-items: start;
                width: 100vw;
                height: 127vh;
                background-color: color(menuov);

                &__btn_pH{
                    grid-area: btn_pH;
                }

                &__feed{
                    grid-area: feed_nav;

                }
                &__training{
                    grid-area: training_nav;
                }
                &__profil{
                    grid-area: profil_nav;
                }
            }
            .sN_h:hover{
                    color: color(orang);
                }
        }
    }
    

    //Challenges Grid
    .challenges__grid{
        grid-template-columns: repeat(4, 1fr);
        grid-row-gap: 8vh;
    }
    .challenges__title{
        grid-column-start: 1;
        grid-column-end: 5;
        font-size: 3em;
    }
    .challenges__challenge{
        margin-top: 0;
    }
}