
//Menu
//Variante unteres Menü

@media screen and (min-width: 1024px){
    .mobileMenu{
        border-top: none;
    }
    .menuLinks{
        &__icon{
            height: 6vh;
        }
        &__name{
            margin-top: 13px;
        }
    }
    .menuLinks:hover .menuLinks__name{
       margin-top: 10px;
    }

    .menuMitte{
        &__icon{
            height: 6vh;
        }
        &__name{
            margin-top: 13px;
        }
    }
    .menuMitte:hover .menuMitte__name{
       margin-top: 10px;
    }

    .menuRechts{
        &__icon{
            height: 6vh;
        }
        &__name{
            margin-top: 13px;
        }
    }
    .menuRechts:hover .menuRechts__name{
       margin-top: 10px;
    }

    .menu{
        width: 40px;
        height: 40px;
    }
}

//Challenges Grid
/*
.challenges__grid{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10vh 39vh 39vh 39vh 10vh;
    grid-template-areas:
            "title . . "
            "ch_endurance ch_strength ch_mass"
            "ch_mass_1 ch_endurance_1 ch_strength_1"
            "ch_mass_2 ch_strength_2 ch_endurance_2"
            "ch_mmPlz ch_mmPlz ch_mmPlz" 
            ;
}

.challenges__endurance_1{
    grid-area: ch_endurance_1;
}
.challenges__endurance_1{
    grid-area: ch_endurance_2;
}

.challenges__strength_1{
    grid-area: ch_strength_1;
}
.challenges__strength_2{
    grid-area: ch_strength_2;
}

.challenges__mass_1{
    grid-area: ch_mass_1;
}
.challenges__mass_2{
    grid-area: ch_mass_2;
}

*/